body{
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
}

.bmargin {
	margin-bottom: 0px;
}
.tmargin {
	margin-top: 0px;
}
.col-divider-margin {
	width: 100%;
	float: left;
	margin-top: 60px;
}
.col-divider-margin-1 {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.col-divider-margin-2 {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.col-divider-margin-3 {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.col-divider-margin-4 {
	width: 100%;
	float: left;
	margin-top: 40px;
}
.col-divider-margin-5 {
	width: 100%;
	float: left;
	margin-top: 50px;
}
.col-divider-margin-6 {
	width: 100%;
	float: left;
	margin-top: 60px;
}
.nobottom-margin {
	margin-bottom: 0px;
}
.bottom-margin3 {
    margin-bottom: 30px;
}
.bottom-margin4 {
    margin-bottom: 40px;
}
.bottom-margin5 {
    margin-bottom: 50px;
}
.margin-top1 {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.margin-top2 {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.margin-top3 {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.margin-top4 {
    float: left;
    margin-top: 40px;
    width: 100%;
}
.margin-top5 {
    float: left;
    margin-top: 50px;
    width: 100%;
}
.margin-top6 {
    float: left;
    margin-top: 60px;
    width: 100%;
}
.margin-top7 {
    float: left;
    margin-top: 70px;
    width: 100%;
}
.margin-left-1 {
    margin-left: 10px;
}
.margin-left-2 {
    margin-left: 20px;
}
.margin-left-3 {
    margin-left: 30px;
}
.margin-left-4 {
    margin-left: 40px;
}
.margin-left-5 {
    margin-left: 50px;
}
.margin-left-6 {
    margin-left: 60px;
}
.margin-left-7 {
    margin-left: 70px;
}
.colmargin {
	margin: 0 0 0 0;
}
.col-centered {
	float: none;
	margin: 0 auto;
}

.bg-opacity-1 {
	background-color: rgba(0, 0, 0, 0.1);
}
.bg-opacity-2 {
	background-color: rgba(0, 0, 0, 0.2);
}
.bg-opacity-3 {
	background-color: rgba(0, 0, 0, 0.3);
}
.bg-opacity-4 {
	background-color: rgba(0, 0, 0, 0.4);
}
.bg-opacity-5 {
	background-color: rgba(0, 0, 0, 0.5);
}
.bg-opacity-6 {
	background-color: rgba(0, 0, 0, 0.6);
}
.bg-opacity-7 {
	background-color: rgba(0, 0, 0, 0.7);
}
.bg-opacity-8 {
	background-color: rgba(0, 0, 0, 0.8);
}
.bg-opacity-9 {
	background-color: rgba(0, 0, 0, 0.9);
}

.header-bg{
    background-color: #1d1e24;
}

.halamanhero {
	width: 100%;
	float: left;
	text-align: center;
	background-image: url("../img/car004.jpg");
    background-color: black;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	background-position: center;
    z-index: 1;
    padding-top: 70px;
}
.texthero{
    padding-bottom: 100px;
}
.servicetitle{
    padding-bottom: 30px;
}
.halamanservis{
    padding: 50px;
    border-bottom: 20px solid;
    border-color: #1d1e24;
}
.halamanabout{
    padding: 50px;
    border-bottom: 20px solid;
    border-color: #1d1e24;
}
.abouttitle{
    padding-bottom: 10px;
}

.halamancontact{
    padding: 50px;
}

footer{
    background-color: #1d1e24;
}