body{
    background-color: #1d1e24;
    margin: 0;
    padding: 0;
}

.header-bg{
    background-color: #1d1e24;
}

.halamanhero {
    width: 100%;
    position:relative;
	text-align: center;
	background-image: url("../img/car004.jpg");
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	background-position: center;
    z-index: 1;
    padding-top: 120px;
    padding-bottom: 100px;
}
.servicetitle{
    padding-bottom: 30px;
}
.halamanservis{
    padding: 50px;
}
.halamanabout{
    padding: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/car002.jpg");
    background-attachment: fixed;
    background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	background-position: center;
    z-index: 2;
    color: white;
}
.abouttitle{
    padding-bottom: 10px;
}
.aboutimg{
    background-color: #EEEEEE;
    padding: 2px;
    border-radius: 50px;
}
.halamancontact{
    padding: 50px;
}

footer{
    background-color: #1d1e24;
}

.sectiontitle{
    font-size: 5vw;
}

.card{
    padding: min(2em, 5%);
    background-color: rgba(0, 0, 0,0.1);
    border-width: 5px;
    border-radius: 15px;
    border-color: white;
}